/patch/soapLog.xml
.project
vendor
.settings
.buildpath
composer.lock
composer.phar
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
.settings/org.eclipse.php.ui.prefs
.settings/org.eclipse.php.ui.prefs
node_modules
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
