parameters:
    level: 1
    paths:
        - classes
        - functions
        - admin
        - house
        - install
#    ignoreErrors:
#        -
#            identifier: property.notFound
#            message: '#Access to an undefined property HHK\\sec\\Session::\$#'