* {
    margin: 0px;
    padding: 0px;
}
.testbody {
    background-color: #ffdec2;
}
.testbody .navbar {
	--nav-bg-color: #ce6363;
	--nav-active-color: #a14d4d;
}

body {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.navbar, .ui-autocomplete {
	--nav-bg-color: #5c9ccc;
	--nav-active-color: #3E6D8F;
	--nav-text-color: #fff;
}

.fc {
	--fc-event-border-color: #e9e9e9;
}

/* override fullcalendar row height */

.fc .fc-timeline-overlap-enabled .fc-timeline-lane-frame .fc-timeline-events {
	padding-bottom: 0px !important;
}


@media only screen and (max-width: 1024px){
	.fc .fc-event {
		padding-top:0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#submitButtons, .submitButtons {
    position: fixed;
    right: 30px;
    bottom: 10px;
    padding: 5px 10px;
    z-index: 90000;
    border: 1px solid teal;
    background-color: white;
}
#submitButtons:hover { background-color: white; }
#divAlertMsg {
    z-index:9;
}
.hhk-view-visit {
    padding:5px;
    cursor:pointer;
}
.hhk-logerrmsg {
    color:red;
}
#unallocVids {
	cursor:pointer;
}
.hhk-view-visit:hover {
    background-color: #d0e5f5;
    background-image: url("jqui/images/ui-bg_glass_75_d0e5f5_1x400.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.hhk-loginLabel {
    text-align:right;
    padding: 5px;
}
.hhk-checkinHdr {
    font-size:1.2em;
    margin-top:3px;
	margin-bottom: 3px;
}
.hhk-addrCopy, .hhk-addrErase, .hhk-fincalc {
    cursor:pointer;
}
.dp-highlight .ui-state-default {
    background: #484;
    color: #FFF;
}
.nplogo {
    background-image: url("../../images/NPSClogoSm.png");
    background-repeat: no-repeat;
    width: 258px;
    height: 55px;
    margin-top:5px;
    display:inline-block;
}

.dataTables_info {
    padding-right: 1em;
}
 .ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    min-width: fit-content;
	z-index: 13000;
}

.ui-autocomplete .hhk-flex {
	align-items: center;
	justify-content: space-between;
}
  
.ui-autocomplete .autocompleteName {
	font-weight:bold;
}

.ui-autocomplete.ui-menu-icons .ui-menu-item-wrapper {
	padding: 3px 1em 3px .4em;
}

.ui-autocomplete .autocompleteNoReturn, strong.noReturn {
	background-color: red;
	border-radius: 0.5em;
	color: white;
	padding: 0 0.5em;
	margin-left: 0.5em;
}

.ui-autocomplete .autocompleteMemStatus, span.deceased {
	background-color: gray;
	border-radius: 0.5em;
	color: white;
	padding: 0 0.5em;
	margin-left: 0.5em;
}

.ui-autocomplete .autocompleteMRN {
	background-color: #5c9ccc;
	border-radius: 0.25em;
	color: white;
	padding: 0 0.5em;
	margin-top: 0.5em;
}

.ui-autocomplete .ui-menu-item-wrapper:hover .autocompleteMRN {
	background-color: white;
	border-radius: 0.25em;
	color: #5c9ccc;
	padding: 0 0.5em;
	margin-top: 0.5em;
}

.ui-autocomplete .autocompleteItemMRN {
	margin-top: 0.2em;
}

.ui-autocomplete li.ui-menu-item {
	border-bottom: 1px solid #c1e3ec;
}

.ui-autocomplete .ui-state-active{
	border: initial;
	border-bottom: 1px solid #c1e3ec !important;
	background: var(--nav-bg-color);
	color: white;
	font-weight: unset;
	margin: 0px;
}
  
.ui-autocomplete-loading { background: white url('../../images/ui-anim_basic_16x16.gif') right center no-repeat; }
 /*.hhk-loading { background: white url('../../images/ui-anim_basic_16x16.gif') left center no-repeat; } */
.hhk-loading-btn { background: transparent url('../../images/ui-anim_basic_16x16.gif') center center no-repeat; width: 16px; height: 16px;}
.hhk-icon-redLight {
    width: 16px;
    height: 16px;
    background: transparent url("../../images/RedLight.png") center center no-repeat;
}
.hhk-relations td {
    background-color: #ffffff;
}
.hhk-relations td:hover {
    background-color: #67b021;
    color: whitesmoke;
    cursor:pointer;
}
.hhk-topseperator td {
    border-top: solid 2px #2E99DD;
}
.hhk-member-detail {
    float:left;
    font-size: 0.9em;
}
.hhk-VisitMessage {
    float: right;
    border: 1px solid #79B7E7;
    background-color: #FFFFCC;
    padding: 5px;
    margin: 5px;
    max-width: 40%;
    max-height: 125px;
}

td.noteText {
	white-space: pre-wrap !important;
}


.hhk-tbl-wrap td {
	white-space: pre-wrap !important;
}

.hhk-noteBox div {
    border: 1px solid #79B7E7;
    max-height: 100px;
    min-height:14px;
    overflow-y: auto;
    background-color:#ffffff;
}
.hhk-currentNotes {
    max-height: 100px;
    overflow-y: auto;
}
.hhk-noteBox textarea {
    float:left;
    width:100%;
}
.hhk-existgNotes {
    min-width: 100px;
}
table.hhk-badAddress {
    background-color: lightsalmon;
}
.hhk-pastdue {
    color: red;
}
.hhk-showMe {
    display: block;
}
.hhk-hideMe {
    display:none;
}
.hhk-addrPicker {
    border: solid 1px #333;
    padding: 7px;
    background-color: lightgoldenrodyellow;
    opacity: 80%;
}

.spnHosp {
    padding: 0 .4em;
    border:solid 1px black;
    margin-left:.3em;
    margin-bottom:.2em;
}
.spnHosp:hover {
    cursor: pointer;
}
#unallocVisits:hover {
	cursor: pointer;
}

div#hideCalendar, div#hideLog {
    float:left;
    cursor:pointer;
}
.hhk-reservStatus {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px;
    float:right;
}
div#contentDiv {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
.copyright {
	text-align:right;font-size: smaller; margin-top:5px;margin-right:.3em;
}
.build {
	text-align:right;font-size: .6em;margin-right:5px;
}

.rssWidget .item {
	border-bottom:1px solid #a6c9e2;
}

.pageHeader {
    width: 100%;
    background-color: #63A0CE;
    color: white;
    position:sticky;
    margin-bottom:0.5em;
    z-index: 1000;
    top: 0;
    left: 0;
}
#content {
    margin: 20px 10px;
}

h1, h2, h3 {
    padding: 3px 5px;
}
div.logo {
    position: absolute;
    top: 0px;
    color: white;
    padding: 0 4px;
    margin: 7px 5px;
    font-size: 2em;
    z-index: 99;
}
#version {
/*     height: 15px; */
/*     position: absolute; */
    position: relative;
    right: 2px;
/*     top: 47px; */
    font-size: .6em;
    padding: 7px 6px;
    float: right;
}
table {
    border-collapse:collapse;
}
.xdebug-error {
    position: relative;
    top: 40px;
}
.hhk-visitdialog th, .hhk-visitdialog .tdlabel {
    background-color: #E9F4FD;
}
.option-description td {
    border: 1px solid #D4CCB0;
    vertical-align: middle;
    padding: 2px 3px;
}
.hhk-tdbox td, .hhk-tdbox th {
    border: 1px solid #D4CCB0;
    vertical-align: middle;
    padding: 5px 7px;
}
.hhk-tdbox-noborder td, .hhk-tdbox-noborder th {
    border: none;
    vertical-align: middle;
    padding: 2px 3px;
}
.hhk-heading {
    text-align: center;
    font-weight: bold;
}
.hhk-panel {
    padding: 0.5em 0.5em;
    margin-top: 5px;

}
.hhk-unselected-text {
    color: #d0e5f5;
}
.hhk-table tbody tr.odd {
  background-color: #f8f8f8;
}
.hhk-table tbody tr.even {
  background-color: #ffffff;
}
.hhk-table tbody tr.odd.selected {
  background-color: #acbad4;
}
/*.hhk-table tbody tr:hover {
  background-color: #ebebeb;
}*/
.hhk-table tbody tr:hover.selected {
  background-color: #aab7d1;
}
.dtTop, .dtBottom {
    margin:4px;
    vertical-align: middle;
}

.hhk-panel .hhk-panel {
    margin: 0;
}
.hhk-htip {
    /*  help tip     */
    color: #228C5F;
    
}
.hhi-wasblank {
	color:blue;
}
.hhk-origUserData {
	color:blue;
	background: #f8f8f8;
	font-weight: bold;
}
textarea {
    padding: .3em;
}
.tdlabel {
    text-align: right;
    padding: 2px 3px;
}
#divStmt td.hhk-tdTotals {
    border-top: 2px solid #333;
}
input.ro {
    background-color: transparent;
    border-style: none;
}
span.lbl {
    font-size: 10pt;
}
span.class_history {
    font-size: .75em;
}
.input-medium {
   width: 170px;
}

div#global-title {
    color: white;
    font-size: 1.5em;
}

.navbar li.hhk-active {
    background-color: var(--nav-active-color);
}


/* uppload styles */
.uppload-modal {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.uppload-modal ul i {
	margin-right: 0.5em;
}

/* Put JqueryUI dialogs above submit buttons */
.ui-dialog { z-index: 91000 !important ;}

/* Styles for button groups on housekeeping page */

.week-button-group {
	display: inline-block;
	margin: 0;
}

/*.week-button-group >* {
	margin: 0 0 0 -1px;
	float: left;
}*/

#TwoFactorHelp p {
	margin-bottom: 1em;
}

#TwoFactorHelp li {
	margin-bottom: 0.5em;
}

/* Report Filter tables */
.filters table td {
	vertical-align:top;
}

@media screen {
	.hhk-printmedia {
		display: none;
	}
}

@media print {
	.hhk-printmedia {
		display: inline;
	}
	
	body {
		zoom: var(--print-scale, 100%);
	}
}

.hhk-strip-links td a {
	text-decoration: none;
	color: black;
}

.user-agent-spacing * {
	padding: revert;
	margin: revert;
}


/* hospital dialog */

.hhk-hsdialog input.name:read-only, .hhk-hsdialog input.name:read-only {
	pointer-events: none;
	border: 0;
}


.hhk-hospTitleBtn, .hhk-smallBtn {
	font-size: small !important;
	padding: 1px 0.8em !important;
}

/*
.ui-checkboxradio-icon.ui-icon-background.ui-icon-blank{
	background-color: initial !important;
}
*/



.hhk-ui-icons {
    margin: 0;
    padding: 0;
}
.hhk-ui-icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
.hhk-ui-icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.ui-icon-background, .ui-state-active .ui-icon-background {background-color:#fff;}
.ui-state-active .ui-icon-background {background-color: #fbec88; border: 1px solid #fad42e;}

/* Datatables fixes */

.dt-print-view table.dataTable.hover tbody tr:hover, .dt-print-view table.dataTable.display tbody tr:hover {
	background-color:initial;
}

.dataTables_wrapper .dataTables_length select {
	background-color: white !important;
}

.dataTables_wrapper .dataTables_filter input {
	background-color: white !important;
}

.dataTables_wrapper .top, .dataTables_wrapper .bottom,.dataTables_wrapper .dtTop, .dataTables_wrapper .dtBottom {
	padding: 8px;
	
}

.dataTables_wrapper .top:before,
.dataTables_wrapper .bottom:before,
.dataTables_wrapper .top:after,
.dataTables_wrapper .bottom:after,
.dataTables_wrapper .dtTop:before,
.dataTables_wrapper .dtBottom:before,
.dataTables_wrapper .dtTop:after,
.dataTables_wrapper .dtBottom:after  {
	content: "";
    display: table;
    border-collapse: collapse;
}

.dataTables_wrapper .top:after,
.dataTables_wrapper .bottom:after,
.dataTables_wrapper .dtTop:after,
.dataTables_wrapper .dtBottom:after {
	clear: both;
 }
#referralTabs { display: flex;}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; margin-bottom: 0.2em; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; width: 100%;}

/* form builder css fixes */
.form-wrap.form-builder .form-actions button{
	border: 1px solid #c5dbec !important;
}
.form-wrap.form-builder .form-actions {
	display: flex !important;
	justify-content: flex-end !important;
	margin-top: 10px !important;
}
.form-wrap.form-builder .form-actions>:first-childe {
	margin-left: 0;
}
.form-wrap.form-builder .form-actions>* {
	margin: 0 0 0 -1px !important;
	padding: .4em 0.5em !important;
}
#settingsDialog ul.styleList {
	list-style: inside square;
}
#settingsDialog ul.styleList > li {
	margin-bottom: 0.5em;
}

/* ui icon tab fix */
div#referralTabs ul>li>a>span.ui-icon {
	background-image: url(jqui/images/ui-icons_217bc0_256x240.png) !important;
}
div#referralTabs ul>li.ui-state-active .ui-icon {
	background-image: url(jqui/images/ui-icons_f9bd01_256x240.png) !important;
}
.hhkrefguestsel {
	margin-top:0;
	margin-bottom: 30px;
}

.hhk-warning {
    background-color: #f8d7da;
}

.hhk-phemtabs {
	min-width: 220px;
}

div.dt-buttons .dt-button:hover>span {
	background-color: rgba(0, 0, 0, 0) !important;	
}

/* Add flexbox support */
.hhk-flex {
	display: flex;
	align-items: flex-start;
}

.hhk-flex-wrap {
	flex-flow: wrap;
}

.hhk-overflow-x {
	overflow-x: auto;
}

/* flex tabs */
.hhk-flex.ui-tabs-nav{
	overflow-x: auto;
	overflow-y: hidden;
}

@media only screen and (max-width: 1024px){

	.hideMobile {
		display: none!important;
	}
	
	/* Add space for fat fingers */
	a.fc-event {
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
	
}

/* User Settings */
#mfaEmail table {
	width: 100%;
}

#mfaEmail td:not(.tdlabel) {
	text-align: left;
}


/* fullcalendar variables */
.fc {
	--fc-button-bg-color: #5c9ccc;
	--fc-button-hover-bg-color: #3E6D8F;
	--fc-button-active-bg-color: #3E6D8F;
}

.fc .fc-toolbar{
	flex-wrap: wrap;
}

.fc-timeline-event .fc-event-main {
	white-space: nowrap;
	overflow:hidden;
}


#filterSelectors>*:not(:first-child) {
	margin-left:5px
}

#filterSelectors option {
	padding-left:5px;
	padding-right: 10px;
}

#filterBtns {
	display: flex;
	justify-content:center;
	align-items: center;
}

#filterBtns>*, #filterBtns>#filterOpts>* {
	margin: 0.5em;
}

#filterBtns>#filterOpts label {
	margin-left: 0.25em;
}

.filterWrapper {
	font-size: 0.9em;
	display: inline-block;
	padding:10px;
	min-width: 400px;
}

/* dataTables table print view */
.dt-print-view table.display.dataTable td {
	border-right: 1px solid #ddd;
}

.dt-print-view table.display.dataTable td:first-child {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.dt-print-view table.display.dataTable th {
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #111;
}

.dt-print-view table.display.dataTable th:first-child {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

/* report data wrapper */
#hhk-reportWrapper{
	font-size: .9em;
	padding: 5px;
	margin: 10px 0 25px 0;
}

/* report email dialog */

.emRptDialog table {
	width: 100%;
}

.emRptDialog table tr:not(:last-child) td {
	padding-bottom:1em;
}

/* text label */
.emRptDialog table tr td:first-child {
	text-align:right;
	padding-right: 5px;
	width: 50px;
}

/* Hospital btns on calandar (modeled on fc buttons */
#hospBtnWrapper {
	display:block;
}
#hospBtns, #noteCatBtns {
	font-size: 0.9em;
	width:100%;
}

#hospBtns button, #noteCatBtns button {
	color: #fff;
    background-color: #5c9ccc;
    border-style:solid;
    border-width:1px;
    border-color: #2C3E50;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.2em 0.65em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
    overflow: visible;
    text-transform: none;
    margin: 0 0.25em 0.25em 0.25em;
    font-family: inherit;
}

#hospBtns button.hospActive, #noteCatBtns button.catActive  {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset:3px;
}

#hospBtns button:hover, #noteCatBtns button:hover {
	box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%)
}

@media (max-width: 768px){
	#hospBtns, #noteCatBtns {
		display:flex;
		overflow-x: scroll;
	}
	
	#hospBtns button, #noteCatBtns button {
		min-width: fit-content;
	}
}

#page-title-row {
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
}

#page-title-row #name-search {
	margin-right:20px;
	font-size: .65em; 
	background:#DEEDF8; 
	padding:2px;
}

/* full calendar arrow fix */
.fc-event-selected:before, .fc-event:focus:before, .fc-event-selected:after, .fc-event:focus:after {
	position: inherit !important;
}

.hhk-mobile-tabs, .ui-widget.hhk-widget-mobile {
	font-size: 0.9em;
	max-width: 100%; 
	width: fit-content;
}

.hhk-mobile-tabs>.ui-widget-header {
	align-items:center;
	border: none;
}

.hhk-mobile-tabs ul.ui-tabs-nav {
	border:none;
	align-items: start;
}

.hhk-mobile-tabs ul.ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 2px;
}


.ui-widget-content.hhk-widget-mobile, .hhk-mobile-tabs .ui-widget-content:not("ul") {
	overflow-x: auto;
	overflow-y: auto
}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

#hhk-guest-photo-actions {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#hhk-guest-photo {
	margin: 0.5em;
	margin-top: calc(0.5em + 5px);
	background-size: cover;
}

.hhk-retired {
	background-color: lightgray !important;
}

.hhk-private-dialog {
	opacity: 1 !important;
	background: #5c9ccc !important;
}

.hhk-datepicker-closed{
	background-color:lightgray;
}

#filterSelectors{
	font-size: 0.9em;
}

.pagebreak {
	page-break-after: always;
}

@media screen {
	.regFormContainer {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.hhk-btn {
	cursor: pointer;
}

.hhk-btn.getNameDetails{
	margin-left: 0.5em;
}


#docFields * {
	width: 100%;
}

.hhk-btn-small {
	padding: 0.2em 0.4em;
}


.ui-tooltip {
	box-shadow: none !important;
}

#viewMsgsDialog {
	min-height: 150px !important;
	font-size: 0.8em;
}
#viewMsgsDialog #smsTabs {
	display: flex;
}

#viewMsgsDialog #smsTabs.ui-tabs .ui-tabs-nav li {
	white-space: normal;
}

#viewMsgsDialog .ui-tabs-nav {
	width: 14em;
}

#viewMsgsDialog h4.msgTitle, #viewMsgsDialog div.msgsContainer {
	padding-bottom: 0.25em;
	border-bottom: 1px solid #a6c9e2;
}

#viewMsgsDialog #msgsTabContent, #viewMsgsDialog #allGuestsTabContent, #viewMsgsDialog #campaignTabContent {
	padding: 1em;
}

#viewMsgsDialog.loading, #viewMsgsDialog .loading, #stmtDiv .loading, .hhk-loading, .hhk-loading:hover {
	background-image: url(../../images/ui-anim_basic_16x16.gif) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	min-height: 4em;
	min-width: 4em;
}
#viewMsgsDialog.loading *, #viewMsgsDialog .loading *, #stmtDiv .loading *, .hhk-loading * {
	display: none !important;
}

input.ui-button.hhk-loading{
	min-height: 0;
	min-width: 0
}

#viewMsgsDialog #msgsTabContent .msgTitle{
	display: flex;
	justify-content: space-between;
}

#viewMsgsDialog #msgsTabContent .msgTitle .smsUnsubscribed {
	font-weight: normal;
	cursor: default;
}

.msgsContainer {
	height: 400px;
	overflow-y: auto;
	padding: 0.5em 0.75em 0.5em 0 !important;
}

.msgsContainer .msg {
    width: fit-content;
    max-width: 85%;
    margin: 0.5em 0;
}

.msgsContainer .msgContent {
    padding: 0.5em;
}

.msgsContainer .houseMsg .msgContent {
    background: #3788d8;
    color: white;
}

.msgsContainer .msgMeta {
    color: #707070;
    margin-top: 0.25em;
}

.msgsContainer .houseMsg .msgMeta {
	text-align: right;
}

.msgsContainer .houseMsg {
    justify-content: end;
}

.msgsContainer .houseMsg .msg {
	align-items: end;
}

.msgsContainer .guestMsg .msg {
	align-items: start;
}

.msgsContainer .msgContainer .msg {
	display: flex;
	flex-flow: column;
}

#viewMsgsDialog .newMsg {
	align-items: center;
	margin-top: 0.5em;
	min-height: 48px;
}

#viewMsgsDialog .newMsg textarea {
	margin: 0.5em;
	width: 90%;
	resize:none;
	padding: 0.5em;
}

#viewMsgsDialog .smsSubject {
	margin-top: 0.5em;
}

#viewMsgsDialog input[name=subject] {
	margin: 0.5em;
	padding: 0.5em;
	width: 100%;
}

#viewMsgsDialog .newMsg button {
	min-width: fit-content;
}

#viewMsgsDialog .allRecipients {
	display: flex;
	padding: 0 0.5em;
	margin: 0.5em 0 0 0.5em;
	align-items: baseline;
	flex-wrap: wrap;
}

#viewMsgsDialog .allRecipients *{
	margin: 0.5em 0.5em 0.5em 0;
}

#viewMsgsDialog .allRecipients .recipient {
	padding: 0.5em;
	margin: 0.5em 0;
	background: #E9F4FD;
}

#viewMsgsDialog .allRecipients *:not(:first-child,:last-child):after {
	content: ",";
}

/* fix ugly stay checkboxes on reservation */
#tblFamily .ui-icon-background, #tblFamily .ui-state-active .ui-icon-background {
	background-color:#fff;
}

.hhk-rowseparater { 
	border-top: 2px #0074c7 solid !important;
}

#rescBuilderTitle span {
	font-size: 0.8em;
}


/* calendar colors */

#calendar .hhk-event-light.fc-timeline-event:not(.fc-event-end):after, #calendar .hhk-event-light.fc-timeline-event:not(.fc-event-start):before {
	opacity: 0.75;
	border-left-color: #fff;
	border-right-color: #fff;
}

#calendar .fc-timeline-event:not(.fc-event-end):after, #calendar .fc-timeline-event:not(.fc-event-start):before {
	opacity: 0.75;
	border-left-color: #000;
	border-right-color: #000;
}


textarea.hhk-autosize {
	resize: none;
}

.tdChecklistDate {
	min-width:160px;
}

.brownBg {
	background-color:#EFDBC2 !important;
}

#vDocs td{
	box-sizing: inherit;
}

#vDocs td input{
	min-width: 100%;
}


.hhk-formbuilder-readonly, .hhk-formbuilder-readonly:focus {
	border: transparent !important;
	background: transparent !important;
	box-shadow: none !important;
}

.hhk-divLk input[type=text]:read-only {
	border:none;
	outline: none;
}

/* toggle switch */
.hhk-switch {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 45px;
}

.hhk-switch input {
  display:none;
}

.hhk-slider {
  background-color: #2E99DD;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.hhk-slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 10px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 10px;
}

input:checked + .hhk-slider {
  background-color: #66bb6a;
}

input:checked + .hhk-slider:before {
  transform: translateX(26px);
}

.hhk-slider.round {
  border-radius: 34px;
}

.hhk-slider.round:before {
  border-radius: 50%;
}

#deluxeDialog {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #212529;
    font-size: 90%;
}

#deluxeDialog input {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#deluxeDialog input:focus {
	color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

#deluxeDialog input:disabled{
	background-color: #e9ecef;
    opacity: 1;
}

#tblFamily .hhk-activeGuestEdit input:not([type=checkbox]), #tblFamily .hhk-activeGuestEdit select {
	border: none;
	color: black;
	opacity: 1;
	background: none;
	appearance: none;
}

#tblFamily .hhk-activeGuestEdit a {
	border: 1px solid #fad42e;
    background: #fbec88;
    color: #363636;
}