#incidentDialog {
	font-size:.8em;
}

#incidentDialog table,select {
	width: 100%;
}

#incidentDialog .tdLabel {
	width: 25%;
}

#incidentDialog input,textarea {
	width: 100%;
	padding:0.3em;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#incidentPrint table {
	border: 1pt solid black;
	border-bottom: 0;
	border-collapse:collapse;
	width: 100%
}

#incidentPrint table td {
	border-bottom: 1pt solid black;
}

#incidentPrint fieldset {
	margin-top: 12pt;
}