.invoiceItemTbl table {
    width: 100%;
    border: 1px solid #c5dbec;
}

.invPage {
    max-width: 800px;
}

.emTbl, .emTbl input[type=text], .emTbl textarea {
    width: 100%;
}

.emTbl textarea {
    resize: vertical;
}

.emTbl td.hhk-flex {
    align-items: center;
}

.formEm input[type=submit], .formEm input[type=button] {
    font-size: 0.9em;
}

.invoiceItemTbl .invLineDesc {
    width: 100%;
}

.invoiceItemTbl .invLineRoom, .invoiceItemTbl .invLineAmt {
    white-space: nowrap;
}

.invoiceItemTbl.hhk-tdbox tbody td, .invoiceItemTbl.hhk-tdbox th {
    border: 1px solid #c5dbec;
}

.invoiceItemTbl.hhk-tdbox tfoot td{
    border-left: 1px solid #c5dbec;
    border-right: 1px solid #c5dbec;
    border-bottom: none;
    border-top: none;
}

.invoiceItemTbl.hhk-tdbox td.hhk-tdTotals {
    border-top: 2px solid #333 !important;
}

.PrintArea {
    font-size: 1em;
}

@media print {
    body {
        margin:0; 
        padding:0; 
        line-height: 1.4em; 
        word-spacing:1px; 
        letter-spacing:0.2px; 
        font: 13px Arial, Helvetica,"Lucida Grande", serif; 
        color: #000;
    }
    .hhk-noprint {
        display:none;
    }

    .PrintArea {
        border: none !important;
    }
}

.fullWidth {
    width: 100%;
}