

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}


.center {
	margin: 0 auto;
	text-align: center;
}

.container {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	overflow: auto;	
}



.simpleEditorContainer .control-btn {
	border: 1px solid white;
	background: lightgrey;
	outline: #0074c7;
	cursor: pointer;
}

.control-btn.active {
	background: grey;
}