* {
    padding: 0;
    margin: 0;
}
body {
    background: url('../../conf/vol_bg.jpg') repeat #CEC9B5;
    font-family: Arial, Helvetica, sans-serif;
}
p {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
/*	color: #333;*/
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 32px;
	color: #757800;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-weight: normal;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #330;
	font-weight: normal;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #330;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
        z-index: 99;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FB883C;
	margin: 0px;
	padding: 0px;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #330;
	margin: 0px;
	padding: 0px;
}
div#page {
    margin-left: 10px;
    margin-top:50px;
}
.hhk-welcomeVol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #330;
	font-weight: normal;
	margin: 7px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
div.logo {
    position: absolute;
    top: 0px;
    color: darkred;
    padding: 0 4px;
    margin: 7px 5px;
    font-size: 2em;
    z-index: 99;
}
.nplogo {
    background-image: url("../../images/NPSClogoSm.png");
    background-repeat: no-repeat;
    width: 258px;
    height: 55px;
    margin-top:5px;
    display:inline-block;
}
h2.logo {
    position: absolute;
    top: 0px;
    color: darkred;
    padding: 0 4px;
    margin: 7px 5px;
}
.hhk-member-detail {
    float:left;
    padding: 0.7em 0.7em;

}
.hhk-logerrmsg {
    color:red;
}

table.hhk-badAddress {
    background-color: lightsalmon;
}
.hhk-loginLabel {
    text-align:right;
    padding: 5px;
}

.ui-autocomplete-loading { background: white url('../../images/ui-anim_basic_16x16.gif') right center no-repeat; }
#version {
    height: 25px;
    position: absolute;
    right: 2px;
    top: 47px;
    font-size: .8em;
    padding: 0 6px;
}
#content {
    margin: 20px 10px;
}

div#divSubmitButtons {
    position: fixed;
    bottom: 1px;
    right: 80px;
    padding: 5px 10px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: teal;
    border-left-color: teal;
    border-bottom-color: teal;
    border-top-color: teal;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
#wrapper {
	height: 810px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	background-repeat: no-repeat;
	height: 482px;
	width: 885px;
}
#logoLT {
	background-image: url(../../conf/TopLogo.png);
	height: 183px;
	width: 275px;
	background-repeat: no-repeat;
        float: left;
}
#divAlertMsg {
     position:fixed; top:200px; left:400px;
     z-index:9;
}
.hhk-logo {
    background-image: url("../../images/hhkLogo.png");
    background-repeat: no-repeat;
    width: 404px;
    height: 316px;
}
li.menuspacer {
    background-color: #FEF8E4;
}
table
{
    border-collapse:collapse;
}
.hhk-border th {

    padding: 3px 7px;
    border: 1px solid #8E846B;
}
.hhk-border td {
    border: 1px solid #8E846B;
    vertical-align: top;
    padding: 3px 7px;
}
#regFormDiv td {
    padding: 3px 7px;
}
.tdlabel {
    text-align: right;
}
.tdBlank {
    padding:0;
}
input.ro {
    background-color: transparent;
}
.input-medium {
  width: 150px;
}

.fc-today .fc-day-number {
        font-weight: bold;
        }



div#global-title {
    float:left;
    color: #4C3000;
    padding: 5px 10px;
    font-size: 1.5em;
}
#global-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: url("jqui/images/ui-bg_gloss-wave_60_fece2f_500x100.png") repeat-x scroll 0 70px #fece2f;
    height: 39px;
}
#global-nav #navContainer {
    float:right;
}
#global-nav #nav ul {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(255, 255, 255, 0.098);
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    text-align: left;
}
#global-nav #nav ul.links {
    float: left;
}
#global-nav #nav ul li {
    border-left: 1px solid rgba(255, 255, 255, 0.098);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: segoe ui,Arial,sans-serif;
    font-weight: bold;
    position: relative;
    top: 1px;
    transition: all 0.2s ease 0s;
}
.ie #global-nav #nav ul li {
    top: 2px;
}
#global-nav #nav ul li:hover {
    background-color: #DFB629;
    color: #4C3000;
}
#global-nav #nav ul li i {
    height: 1em;
}
#global-nav #nav ul li a {
    color: #4C3000;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 90%;
    padding: 8px 12px;
    text-decoration: none;
}
#global-nav #nav ul li ul {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    display: none;
    left: -2px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 32px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 140px;
    z-index: 400;
}
#global-nav #nav ul li ul.wide {
    width: 260px;
}
#global-nav #nav ul li ul li {
    background-color: #DFB629;
    color: #4C3000;
    display: block;
    float: none;
}
#global-nav #nav ul li ul li:hover {
    background-color: #1d4300;
}
#global-nav #nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
li.hhk-myMenuTop {
    background-color: #DFB629;
}
#divNavIcons #ulIcons {
    margin: 0;
    padding: 0;
}
#divNavIcons #ulIcons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#divNavIcons #ulIcons span.ui-icon {
    float: left;
    margin: 0 4px;
}

