div#global-title {
    float:left;
    color: #4C3000;
    padding: 5px 10px;
    font-size: 1.5em;
}
#global-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: url("sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png") repeat-x scroll 0 70px #fece2f;
    height: 39px;
}
#global-nav #navContainer {
    float:right;
}
#global-nav #nav ul {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(255, 255, 255, 0.098);
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    text-align: left;
}
#global-nav #nav ul.links {
    float: left;
}
#global-nav #nav ul li {
    border-left: 1px solid rgba(255, 255, 255, 0.098);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: segoe ui,Arial,sans-serif;
    font-weight: bold;
    position: relative;
    top: 1px;
    transition: all 0.2s ease 0s;
}
.ie #global-nav #nav ul li {
    top: 2px;
}
#global-nav #nav ul li:hover {
    background-color: #DFB629;
    color: #4C3000;
}
#global-nav #nav ul li i {
    height: 1em;
}
#global-nav #nav ul li a {
    color: #4C3000;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 90%;
    padding: 8px 12px;
    text-decoration: none;
}
#global-nav #nav ul li ul {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    display: none;
    left: -2px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 140px;
    z-index: 400;
}
#global-nav #nav ul li ul.wide {
    width: 260px;
}
#global-nav #nav ul li ul li {
    background-color: #DFB629;
    color: #4C3000;
    display: block;
    float: none;
}
#global-nav #nav ul li ul li:hover {
    background-color: #1d4300;
}
#global-nav #nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
li.hhk-myMenuTop {
    background-color: #DFB629;
}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
