img.rte-button {
	cursor: pointer;
	border: 0;
}

div.rich-text-editor {
	display: inline-block;
	padding: 3px;
        width: 850px;
        min-height: 500px;

}

.rte-Submit {
    float:right;
    margin-right: 10px;
}

div.rte-editbox {
	min-height: 100px;
	max-height: 500px;
	border: 1px #aaaaaa solid;
	padding: 6px;
	overflow-y: scroll;
        background-color:white;
}

div.rte-editbox ul {list-style-type:disc;margin-left: 20px;}
div.rte-editbox ol {list-style-type:decimal;margin-left: 20px;}
div.rte-editbox blockquote {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

div.rte-editbox p {
	margin-top: 10px;
}

