div#global-title {
    float:left;
    color: white;
    padding: 5px 10px;
    font-size: 1.5em;
}
#global-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    background-color: #459E00;
}
#global-nav nav {
    height: 39px;
}
#global-nav nav ul {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(255, 255, 255, 0.098);
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    text-align: left;
}
#global-nav nav ul.links {
    float: left;
}
#global-nav nav ul li {
    border-left: 1px solid rgba(255, 255, 255, 0.098);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: segoe ui,Arial,sans-serif;
    font-weight: bold;
    position: relative;
    /*text-shadow: 0 0 2px #000000;*/
    top: 1px;
    transition: all 0.2s ease 0s;
}
.ie #global-nav nav ul li {
    top: 2px;
}
#global-nav nav ul li:hover {
    background-color: #2d6700;
    color: #ffffff;
}
#global-nav nav ul li i {
    height: 1em;
}
#global-nav nav ul li a {
    color: #ffffff;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 90%;
    padding: 8px 12px;
    text-decoration: none;
}
#global-nav nav ul li ul {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    display: none;
    left: -2px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 31px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 140px;
    z-index: 400;
}
#global-nav nav ul li ul.wide {
    width: 260px;
}
#global-nav nav ul li ul li {
    background-color: #2d6700;
    color: #FFFFFF;
    display: block;
    float: none;
}
#global-nav nav ul li ul li.hhk-myPage {
    background-color: #1D4300;
    border: solid 1px black;
}
#global-nav nav ul li ul li:hover {
    background-color: #1d4300;
}
#global-nav nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
#global-nav nav ul.projects li.project {
    height: 22px;
    padding: 0;
    margin-top: 6px;
    text-indent: -9999px;
    width: 22px;
    z-index: 10;
}
#global-nav nav ul.projects li.project a {
    display: block;
    background-color: white;
    padding:0;
    padding-top:1px;
    height: 20px;
}
#global-nav nav ul.projects li.project a span {
    margin:2px;

}
li.hhk-myMenuTop {
    background-color: #2D6700;
}

